@page "/StudentDetails/{id}"

<h3>Student Details</h3>

<div class="row justify-content-center m-3">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header">
                <h1>@Student.StudentName</h1>
            </div>

            <div class="card-body text-center">
                <img class="card-img-top" src="@Student.ImageUrl" />

                <h4>Student ID : @Student.StudentId</h4>
                @foreach (var course in Courses)
                {
                    <h4>Course : @course.CourseName</h4>
                }

            </div>
            <div class="card-footer text-center">
                <a href="/students" class="btn btn-primary">Back</a>
                <a href="#" class="btn btn-primary">Edit</a>                
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

@code {

    public Student Student { get; set; } = new Student();

    public IEnumerable<Course> Courses { get; set; } = new List<Course>();

    [Inject]
    public IStudentService StudentService { get; set; }

    [Inject]
    public ICourseService CourseService { get; set; }

    [Parameter]
    public string Id { get; set; }

    [Inject]
    public NavigationManager NavigationManager { get; set; }


    protected async override Task OnInitializedAsync()
    {
        Student = await StudentService.GetStudent(int.Parse(Id));

        Courses = await CourseService.GetStudentCourses(Student.StudentId);

    }




}
