<footer>
    <div class="top-container">
        <div class="logo-title-container">
            <i class="fas fa-user-graduate"></i>
            <span>
                Studentify
            </span>
        </div>
        <div>
            <h4>
                Courses
            </h4>
            <ul>
                <li>
                   <a href="/"></a> Popular courses
                </li>
                <li href="/">
                    All courses
                </li>
            </ul>
        </div>
        <div>
            <h4>
                Subjects
            </h4>
            <ul>
                <li href="/">
                    Popular Subjects
                </li>
                <li href="/">
                    All Subjects
                </li>
            </ul>
        </div>
        <div>
            <h4>
                Contact Us
            </h4>
            <ul>
                <li>
                    Email: 
                    <span>studentify@awsome.com</span>
                </li>
                <li>
                    Adress:
                    <span>StudentAvenue 7/11</span>
                    <span>4117</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="bottom-container">
        <small>&copy; Studentify 2021 </small>
    </div>
</footer>