<header>

    @*Navbar*@
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark vw-100">
        <div class="container-fluid">
            <a class="navbar-brand d-flex align-self-center" href="/">
                <i class="fas fa-user-graduate"></i>
                <p class="pl-1 mb-0 align-self-center">Studentify</p>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">

                <ul class="list-unstyled mb-0 d-flex align-self-center">
                    <li class="nav-item">
                        <a class="nav-link" href="/courses">Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/teachers">Teachers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/students">Students</a>
                    </li>
                    @*<li class="nav-item">
                            <a class="nav-link" href="/subjects">Subjects</a>
                        </li>*@
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sign Up</a>
                    </li>
                </ul>


                <ul class="list-unstyled mb-0 d-flex ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/ContactPage"><i class="fas fa-phone-volume pr-2"></i>Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-user-circle pr-2"></i>Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fab fa-opencart pr-2"></i>Cart</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
