<div class="container">

    <h3 class="text-center @HeaderStyle mt-5">Popular courses</h3>

    <div class="card-deck col-md-12 ">
        @foreach (var course in Courses.Take(3))
        {
            <div class="card m-3 col-md-4">

                <div class="w-100"><img class="card-img-top imageThumbnail h-100" src="@course.ImageUrl" alt="@course.CourseName" /></div>

                <div class="card-body min-vw-50 col-form-label-lg">

                    <!--Title-->
                    <h4 class="card-title darkgrey-text">
                        <strong class="fixed-height-title">@course.CourseName</strong>
                    </h4>
                    <hr>
                    <!--Text-->
                    <p class="font-small fixed-height-description">
                        @course.Description
                    </p>
                </div>

                <div class="card-footer text-center">
                    <a href="/courses/details/@course.CourseId" class="btn btn-info m-1">Details</a>
                </div>
            </div>
        }
    </div>
</div>


@code {
    [Parameter]
    public IEnumerable<Course> Courses { get; set; }

    [Parameter]
    public string HeaderStyle { get; set; } = "";
}
